/* CSS Reset from https://www.joshwcomeau.com/css/custom-css-reset */
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}
/* End of CSS Reset */

.gameboards {
  display: flex;
  gap: 100px;
}

.board {
  display: grid;
  width: 400px;
  height: 400px;
  background-color: lightskyblue;
  position: relative;
}

.board .square {
  position: relative;
  border: 1px solid black;
}

/* .square.ship:not(.hit) {
  background-color: lightgray;
} */

.square.hit {
  background-color: white;
}

.square.ship.hit {
  background-color: red;
}

.ship-image {
  pointer-events: none;
  user-select: none;
  position: absolute;
  z-index: 1;
  object-fit: fill;
}

.ship-image.horizontal {
  transform-origin: top;
  margin-top: 20px;
  margin-left: -20px;
}

.ship-image.small {
  height: 80px;
  min-width: 99px;
  margin-left: -31px;
}

.ship-image.small.horizontal {
  margin-left: -50px;
}

.ship-image.medium {
  height: 120px;
  min-width: 140px;
  margin-left: -52px;
}

.ship-image.medium.horizontal {
  margin-left: -72px;
}

.ship-image.large {
  height: 160px;
  min-width: 150px;
  margin-left: -56px;
}

.ship-image.large.horizontal {
  margin-left: -76px;
}
