/* CSS Reset from https://www.joshwcomeau.com/css/custom-css-reset */
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}
/* End of CSS Reset */

:root {
  --main-background-color: #282b2e;
  --dialog-background-color: #262627;
  --gameboard-background-color: #0c1620;
  --marker-color-miss: #ffffff;
  --marker-color-hit: #d90429;
  --main-text-color: #f7f7ff;
  --turn-indicator-color: #f3c64b;
  --turn-indicator-text-color: #000000;
  --slight-dark-shadow: 0 1px 4px rgba(0, 0, 0, 0.8);
}

body {
  background: var(--main-background-color);
  color: var(--main-text-color);
  height: 100vh;
  width: 100vw;
  font-family: "Noto Sans", sans-serif;
}

h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.5rem;
  margin-top: 24px;
}

button.new-game {
  cursor: pointer;
  border-radius: 20px;
  padding: 10px;
  min-width: 120px;
  font-size: 0.9rem;
  font-weight: 500;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  box-shadow: var(--slight-light-shadow);
}

button.new-game:hover {
  filter: brightness(80%);
}

footer {
  color: gray;
  position: fixed;
  bottom: 10px;
  left: 0;
  width: 100%;
  font-size: 0.9rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.github-icon {
  min-width: 24px;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-left: -8px;
}

.logo {
  width: 75px;
  margin-top: 8px;
}

.icon {
  width: 24px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.gameboards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.gameboards .opponent,
.gameboards .player {
  padding: 10px 36px 36px 36px;
  background-color: var(--gameboard-background-color);
  border-radius: 20px;
  box-shadow: var(--slight-dark-shadow);
}

.board-text {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 6px;
}

.board-text h2 {
  font-size: 1.5rem;
}

.board-text .turn-indicator {
  display: none;
  font-size: 0.8rem;
  font-weight: 500;
  background-color: var(--turn-indicator-color);
  padding: 4px 8px;
  border-radius: 16px;
  color: var(--turn-indicator-text-color);
  box-shadow: var(--slight-dark-shadow);
}

.board {
  display: grid;
  width: 400px;
  height: 400px;
  background-color: transparent;
  position: relative;
  border: 1px solid white;
}

.board-container {
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 0) 15%,
    rgba(30, 238, 219, 0.1) 60%,
    rgba(30, 238, 219, 0.2497373949579832) 85%,
    rgba(30, 238, 219, 0.40379901960784315) 100%
  );
  z-index: 2;
  position: relative;
  overflow: hidden;
}

.opponent .board-container::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150%;
  height: 150%;
  background: conic-gradient(
    rgba(30, 238, 219, 0.3) 0deg,
    rgba(30, 238, 219, 0) 60deg
  );
  transform: translate(-50%, -50%) rotate(0deg);
  border-radius: 50%;
  animation: sweep 3s linear infinite;
  z-index: -1;
}

@keyframes sweep {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.opponent .board-container.active .board {
  cursor: crosshair;
}

.opponent .board-container:not(.active) .board {
  cursor: not-allowed;
  pointer-events: none;
}

.board .square {
  position: relative;
  border: 1px dotted rgba(255, 255, 255, 0.6);
}

.opponent .board .square:not(.hit):hover {
  background-color: rgba(197, 197, 197, 0.4);
}

.square.hit::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  z-index: 2;
  background-color: var(--marker-color-miss);
  box-shadow: var(--slight-dark-shadow);
}

.square.ship.hit::after {
  background-color: var(--marker-color-hit);
}

@keyframes water-ripple {
  0% {
    box-shadow:
      0 0 0 0 rgba(30, 238, 219, 0.6),
      0 0 0 0 rgba(30, 238, 219, 0.4),
      0 0 0 0 rgba(30, 238, 219, 0.2);
  }
  50% {
    box-shadow:
      0 0 0 10px rgba(30, 238, 219, 0.3),
      0 0 0 20px rgba(30, 238, 219, 0.2),
      0 0 0 30px rgba(30, 238, 219, 0.1);
  }
  100% {
    box-shadow:
      0 0 0 20px rgba(30, 238, 219, 0),
      0 0 0 40px rgba(30, 238, 219, 0),
      0 0 0 60px rgba(30, 238, 219, 0);
  }
}

.square.hit.shot-animation {
  border-radius: 100%;
  animation: water-ripple 0.8s ease-out;
}

.ship-image {
  pointer-events: none;
  user-select: none;
  position: absolute;
  z-index: 1;
  object-fit: fill;
}

.opponent .ship-image:not(.sunk) {
  display: none;
}

.ship-image.horizontal {
  transform-origin: top;
  margin-top: 20px;
  margin-left: -20px;
}

.ship-image.small {
  height: 80px;
  min-width: 99px;
  margin-left: -31px;
}

.ship-image.small.horizontal {
  margin-left: -50px;
}

.ship-image.medium {
  height: 120px;
  min-width: 140px;
  margin-left: -52px;
}

.ship-image.medium.horizontal {
  margin-left: -72px;
}

.ship-image.large {
  height: 160px;
  min-width: 150px;
  margin-left: -56px;
}

.ship-image.large.horizontal {
  margin-left: -76px;
}

/* Game over dialog */
dialog.gameover {
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  padding: 30px 50px;
  background-color: var(--dialog-background-color);
  color: var(--main-text-color);
  border: none;
  border-radius: 12px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.4);
  text-align: center;
  opacity: 0.9;
}

dialog.gameover button.close {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  padding: 0;
}

dialog.gameover button.close:hover {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 100%;
  cursor: pointer;
}

dialog.gameover img.close-icon {
  width: 20px;
  height: 20px;
}

dialog.gameover h2 {
  margin-bottom: 12px;
}
